/* You can add global styles to this file, and also import other style files */
h2 {
    margin-bottom: 20px;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    background-color: #eee;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
  }
  li:hover {
    background-color: #ccc;
  }
