<p>Choisissez le thème de votre quiz</p>
<div *ngIf="quizs">
<ng-container *ngFor="let quiz of quizs">
    <h2>{{quiz.title}}</h2>
   
    
    <!-- Utilisez quiz ici -->
</ng-container >
   
  </div>

